/* RESETS */
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap') */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
html {
  font: 62.5% sans-serif;
}
body {
  font: 1.2rem 'Overpass', sans-serif;
  letter-spacing: 0.1rem;
  background-color: #383636;
  color: #c5beaa;
}
@media screen and (min-width: 620px) {
  body {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}
button::-moz-focus-inner {
  border: 0;
}
